<template>
  <Tutorial/>
</template>

<script>
export default {
  layout: 'default',
  name: 'home',
  async asyncData({$axios, params, $auth, error}) {
    return $axios.get('/users').then(res => {
      const users = res.data.body;
      return {users}
    }).catch(err => {
      console.log(err)
    })
  },
}
</script>
